<h4 class="title">Reach out to us on</h4>
<div class="content">
    <div class="container">
        <!-- end row -->
        <div class="row">
            <ng-container *ngFor="let social of socialList">
                <div class="col-lg-2">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img src="assets/icons/{{social.src}}.svg"
                                    class="img-thumbnail" alt="social.src"></div>
                            <div class="mt-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mt-3">
                                            <h4>{{social.name}}</h4>
                                            <p class="mb-0">{{social.value}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="social.link">
                                <a class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" target="blank"
                                    href="{{social.link}}" role="button"> {{social.button}}</a>
                            </ng-container>
                            <ng-container *ngIf="social.toggle">
                                <button class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"
                                    (click)="showMap=!showMap"> {{social.button}}</button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- end col -->

            <div *ngIf="showMap" class="overlay">
                <div class="container">
                    <div class="row">
                        <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.23178579513333!2d88.39145516221068!3d22.53368310582299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027725a826ad11%3A0xbf53e1e4625e472a!2sA%20Q%20LEATHER!5e0!3m2!1sen!2sin!4v1611849677604!5m2!1sen!2sin"
                                frameborder="0" style="border:1px solid black;" allowfullscreen="" aria-hidden="false"
                                tabindex="0">
                            </iframe>
                        </div>
                        <div class="col-lg-2 close-map">
                            <button class="btn btn-danger mt-3 btn-rounded waves-effect w-md waves-light"
                                (click)="showMap=!showMap">Close Map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>